Repository StPfeffer/rusty-roads, pull requests merged in 2024-05, with the labels that each got.

#4 Conexão com PostgreSQL
  .env.example
  .gitignore
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/db.rs
  src/main.rs
Labels: enhancement

#8 API Health
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/main.rs
Labels: enhancement

#12 CRUD de Países
  Cargo.lock
  Cargo.toml
  src/db.rs
  src/dtos.rs
  src/error.rs
  src/main.rs
  src/models.rs
  src/scopes/countries.rs
  src/scopes/mod.rs
Labels: enhancement

#14 Database Migration
  README.md
  migrations/20240504175007_Countries.down.sql
  migrations/20240504175007_Countries.up.sql
  src/main.rs
Labels: enhancement

#18 Github Actions
  .github/workflows/rust-clippy.yml
  .github/workflows/rust.yml
Labels: enhancement

#23 Docker Compose
  .dockerignore
  .env.example
  .sqlx/query-144988ab19661323441d5ce7c943599634f1820e023a1d9a51b23af1340526eb.json
  .sqlx/query-28d96603576fd2137d227e756ac6893788c1cc95ab435c50ecaa3b3d79bf3421.json
  .sqlx/query-470c54387a57cf8665175dc98c1f51d4f27cf2bb46392b98fd53c6a534c89856.json
  .sqlx/query-4a887efcf905e719e9a86183614c16c0ec0f989f12538adc58ba789e79bb8d17.json
  .sqlx/query-622831da2a920a2a4c4402fa2726896decd66e9bab5f9a32c620050077d86fe4.json
  .sqlx/query-b36fba065113e8748e0a2572ecbf383473fab08d6f32cd950cde8e84d110192b.json
  .sqlx/query-cc33e962dea1b04d3a1ab842a65d40ee884541d8bc2d7846548df7052c3cb835.json
  .sqlx/query-e0845ac0c39c90ccfa83ab8314131c88334991cdc9b79a9413c54b9640bf066a.json
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.Docker.md
  README.md
  compose.yaml
  docker-compose.yml
  src/main.rs
Labels: enhancement

#34 More Workflows
  .env.example
  .github/workflows/rust-clippy.yml
  .github/workflows/rust.yml
  .github/workflows/stale.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Labels: enhancement

#35 Changed tag permission
  .github/workflows/tag.yml
Labels: bug

#36 Removed Clippy from Test workflow
  .github/workflows/test.yml
Labels: bug

#50 Labeler Workflow
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust.yml
Labels: workflows, github

#52 Added More GitHub Configuration
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/pull_request_template.md
Labels: github

#48 Dependency Review workflow
  .github/workflows/dependency.yml
Labels: enhancement, workflows, github

#46 Changed Into to From implementation
  src/error.rs
Labels: bug, code scanning

#56 Collaborator Implementation and Path Updates
  src/db/colaborator.rs
  src/db/country.rs
  src/db/mod.rs
  src/dtos/collaborator.rs
  src/dtos/country.rs
  src/dtos/mod.rs
  src/models/collaborator.rs
  src/models/country.rs
  src/models/mod.rs
Labels: database

#45 Removed direct implementation of ToString
  src/error.rs
Labels: bug, code scanning

#44 Fix useless conversion
  src/error.rs
Labels: bug, code scanning

#43 Fix code scanning alert
  src/db/mod.rs
  src/dtos/collaborator.rs
  src/dtos/mod.rs
  src/main.rs
  src/models/collaborator.rs
  src/models/mod.rs
Labels: bug, code scanning, database

#38 Fix Tag Workflow
  .github/labeler.yml
  .github/workflows/tag.yml
Labels: bug, workflows, github

#28 Fix HttpServer Configuration
  .github/workflows/tag.yml
  src/config.rs
Labels: bug, workflows, github

#57 Fix Tag Workflow... again
  .github/workflows/tag.yml
Labels: bug, workflows, github

#58 Add cache to workflow
  .github/workflows/dependency.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust.yml
Labels: workflows, github

#31 Documentation
  .github/workflows/rust-clippy.yml
  src/config.rs
  src/db/client.rs
  src/main.rs
  src/models/country.rs
Labels: documentation, workflows, docker, api, database, github

#61 City CRUD
  .sqlx/query-880eb1efd3d1176e2c41dbd91d0e50d0775ace32c6c61be303baaccb27da944b.json
  .sqlx/query-8c2404913033470312bb76b32d338a9311ec87a4b58da1ee228242ea932187b9.json
  .sqlx/query-ca94ff42f32ca685ecf114ed36be4815986a57fb95469b72b77fe4137309a6d5.json
  .sqlx/query-e754fde782bedb57a9fd4a5f56942d9964e2479e2e1f76f2ac7cac65ab3feaa8.json
  .sqlx/query-ff199d018d0060e24e9dc7e56a1a06dc753f62124a59e31ec07e152096274d61.json
  migrations/20240517161232_cities.down.sql
  migrations/20240517161232_cities.up.sql
  src/db/city.rs
  src/db/mod.rs
  src/dtos/city.rs
  src/dtos/mod.rs
  src/main.rs
  src/models/city.rs
  src/models/mod.rs
  src/scopes/city.rs
  src/scopes/mod.rs
Labels: enhancement, api, database

#63 Address CRUD
  .github/icon.svg
  .github/logo.svg
  .github/workflows/tag.yml
  .sqlx/query-0fd973a3b737d1438488db8c4440bc8cf340e8d1f1345a43ee4e08aeb7882c45.json
  .sqlx/query-3b34f4b0b1b2ff950c8ae613ad52ff352ee474ef7db6b98d39daf63700645169.json
  .sqlx/query-652354f9a72199f6f05515e75d8668e96c72e33600c83fa2c97d90f71869c6c6.json
  .sqlx/query-8ccf599d31ede43df4355af547f93622a800d06604dd7187c3edfe0189da852e.json
  .sqlx/query-d9c0b3017585158d167640a998aa671d189656bbd0791eb738fcd316471479ec.json
  .sqlx/query-f35e1877a8caf6bdcc1832daff06587b9ae0758287ada82b75501297827a8235.json
  Cargo.lock
  Cargo.toml
  README.md
  migrations/20240517161232_cities.up.sql
  migrations/20240517164743_address.down.sql
  migrations/20240517164743_address.up.sql
  src/db/address.rs
  src/db/mod.rs
  src/dtos/address.rs
  src/dtos/mod.rs
  src/main.rs
  src/models/address.rs
  src/models/mod.rs
  src/scopes/address.rs
  src/scopes/mod.rs
Labels: workflows, api, dependency, database, github

#65 Changed Application Name
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/tag.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  compose.yaml
  src/dtos/address.rs
  src/main.rs
  src/utils/mod.rs
  src/utils/uuid.rs
Labels: documentation, enhancement, workflows, docker, github

#70 Implementing DB Collaborator and some adjustments
  .sqlx/query-3ff8f3316a9455c3201ab4240fb51bd203a01728ba9cdc217fbba852d819e872.json
  .sqlx/query-55545c39b59587a1ed726c3390dfe33717024f6a3d48f14a3962222ed61f0a0f.json
  .sqlx/query-750226aff2f02d6b34efbf51353b16bf0652740f57a70af5d14b4aeb0a532d66.json
  .sqlx/query-8ccf599d31ede43df4355af547f93622a800d06604dd7187c3edfe0189da852e.json
  .sqlx/query-8ed3abdfe25a1d53e4c65b1bb294752a4d1d84c285b06ab20e6be0785134c5e5.json
  .sqlx/query-9207b021cfe85f48b1dc929ac9e211e357ea7c8540a9ccab017c64932af72eb0.json
  .sqlx/query-a12445b6823b1ce32038445219e9a837f6e8405bf526b2a0b824a6c8a64361fe.json
  migrations/20240521004843_collaborator.down.sql
  migrations/20240521004843_collaborator.up.sql
  src/db/colaborator.rs
  src/db/collaborator.rs
  src/db/mod.rs
  src/dtos/collaborator.rs
  src/main.rs
  src/models/collaborator.rs
  src/scopes/collaborator.rs
  src/scopes/mod.rs
Labels: api, database

#72 Enhanced API error messages
  src/error.rs
  src/scopes/address.rs
  src/scopes/city.rs
  src/scopes/country.rs
  src/scopes/state.rs
Labels: enhancement, api

#76 Remove Unecessary Serde Rename
  src/dtos/address.rs
  src/dtos/city.rs
  src/dtos/collaborator.rs
  src/dtos/country.rs
  src/dtos/state.rs
Labels: enhancement
